@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .masonry {
            column-gap: 1.5em;
            column-count: 1;
        }
        .masonry-sm {
            column-gap: 1.5em;
            column-count: 2;
        }
        .masonry-md {
            column-gap: 1.5em;
            column-count: 3;
        }
        .masonry-lg {
            column-gap: 1.5em;
            column-count: 4;
        }
        .break-inside {
            break-inside: avoid;
        }

    }
}
@media only screen and (max-width: 500px) {
    .css-919eu4 {
        background-color: transparent!important;
    }
}
